<div class="container bg-light border border-dark">

  <div class="row">
    <h2 class="pull-left">Qroma BD</h2>
    <img src="../assets/images/breca_transparent.png" class="pull-right" style="margin-top: 20px;" width="117px" height="38.5">
  </div>

  <div class="row">
    <form (ngSubmit)="getSelectedProducts()">
      <div class="form-group">
        <label>Categoría</label>
        <select class="form-control" [(ngModel)]="productParameters.DE_CATE" name="category" (change)="onCategorySelected($event)">
          <option value="" disabled selected>Escoge la Categoría</option>
          <option *ngFor="let categoryOption of categoryDistinctArray" value="{{categoryOption}}">
            {{categoryOption}}
          </option>
        </select>
      </div>

      <div *ngIf="categorySelected" class="form-group">
        <label>Marca</label>
        <select class="form-control" [(ngModel)]="productParameters.DE_EQUI" name="brand" (change)="onBrandSelected($event)">
          <option value="" disabled selected>Escoge la marca</option>
          <option *ngFor="let brandOption of brandDistinctArray" value="{{brandOption}}">
            {{brandOption}}
          </option>
        </select>
      </div>

      <div *ngIf="brandSelected" class="form-group">
        <label>Familia</label>
        <select class="form-control" [(ngModel)]="productParameters.DE_FAMI" name="family" (change)="onFamilySelected($event)">
          <option value="" disabled selected>Escoge la familia</option>
          <option *ngFor="let familyOption of familyDistinctArray" value="{{familyOption}}">
            {{familyOption}}
          </option>
        </select>
      </div>

      <div *ngIf="familySelected">
        <br>
        <button type="button" class="btn btn-danger pull-left" (click)="onResetClicked()" id="resetBtn">Reset</button>
        <button type="button" class="btn btn-success pull-right" type="submit" id="searchBtn">Buscar</button>
      </div>
    </form>
  </div>

  <div *ngIf="showProducts" class="row">
    <br>
    <br>
    <hr>
    <br>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col-4">Id del item</th>
          <th scope="col-8">Nombre del item</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: p }">
          <th scope="row">{{product.ID_ITEM}}</th>
          <td>{{product.DE_ITEM}}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <pagination-controls (pageChange)="p = $event" class="pagination" previousLabel="ant" nextLabel="desp" maxSize="6"></pagination-controls>
  </div>
</div>