body {
    font-family: 'Lato', sans-serif !important;
}

.container{
    padding: 10px 30px; 
}

.btn {
    width: 70px
}

#resetBtn {
    margin-left: 15px;
}

#searchBtn {
    margin-right: 15px;
}

pagination-control {
    margin: 0 -25px;
}

table {
    background-color: white;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}