<div class="container">

  <div class="row">
    <h1>App BRECA</h1>
  </div>

  <div class="row">
    <form (ngSubmit)="getSelectedProducts()">
      <div class="form-group">
        <label>Categoría</label>
        <select class="form-control" [(ngModel)]="productParameters.DE_CATE" name="category" (change)="onCategorySelected($event)">
          <option value="" disabled selected>Escoge la Categoría</option>
          <option *ngFor="let categoryOption of categoryDistinctArray" value="{{categoryOption}}">
            {{categoryOption}}
          </option>
        </select>
      </div>

      <div *ngIf="categorySelected" class="form-group">
        <label>Marca</label>
        <select class="form-control" [(ngModel)]="productParameters.DE_EQUI" name="brand" (change)="onBrandSelected($event)">
          <option value="" disabled selected>Escoge la marca</option>
          <option *ngFor="let brandOption of brandDistinctArray" value="{{brandOption}}">
            {{brandOption}}
          </option>
        </select>
      </div>

      <div *ngIf="brandSelected" class="form-group">
        <label>Familia</label>
        <select class="form-control" [(ngModel)]="productParameters.DE_FAMI" name="family" (change)="onFamilySelected($event)">
          <option value="" disabled selected>Escoge la familia</option>
          <option *ngFor="let familyOption of familyDistinctArray" value="{{familyOption}}">
            {{familyOption}}
          </option>
        </select>
      </div>

      <div *ngIf="familySelected">
        <br>
        <button type="button" class="btn btn-danger pull-left" (click)="onResetClicked()">Reset</button>
        <button type="button" class="btn btn-success pull-right" type="submit">Buscar</button>
      </div>
    </form>
  </div>

  <div *ngIf="showProducts" class="row">
    <br>
    <br>
    <hr>
    <br>
    <ul>
      <li *ngFor="let product of products">
        {{product | json}}
      </li>
    </ul>
  </div>
</div>